
.swiper {
  width: 100%;
  height: 500px !important;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 600px;
  /* Center slide text vertically */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

/* ------------------------- */

:root {
  --swiper-navigation-size: 34px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 6%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(175, 10, 246);
  border: 1px solid rgb(175, 10, 246);
  border-radius: 50px;
  padding: 30px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 10, 246);
}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto;
  right: 100px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
